<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Sync only; app is offline-first (constitution §1) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ElegenApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElegenCashBook">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Supabase email-confirm / magic-link redirect target (see AUTH_DEEP_LINK_SCHEME/HOST). -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="elegencashbook" android:host="login-callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBusinessActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".BookDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EntryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MembersActivity"
            android:exported="false" />
        <activity
            android:name=".BookAccessActivity"
            android:exported="false" />
        <activity
            android:name=".AppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".GenerateReportActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
    </application>

</manifest>